In [22]:
# import

import yfinance as yf
import pandas as pd

In [48]:
# fetch data

ticker = "^NSEI"

data = yf.download(ticker, start="2015-01-01", end="2024-12-31")

data.columns = data.columns.get_level_values(0) 
data = data[['Close']]
data.dropna(inplace=True)

data.head()

/tmp/ipykernel_8281/76262129.py:5: FutureWarning: YF.download() has changed argument auto_adjust default to True
  data = yf.download(ticker, start="2015-01-01", end="2024-12-31")
[*********************100%***********************]  1 of 1 completed

Price             Close
Date
2015-01-02  8395.450195
2015-01-05  8378.400391
2015-01-06  8127.350098
2015-01-07  8102.100098
2015-01-08  8234.599609

In [50]:
## returns

data['returns'] = data['Close'].pct_change()
data.dropna(inplace=True)
data.head()

Price             Close   returns
Date
2015-01-05  8378.400391 -0.002031
2015-01-06  8127.350098 -0.029964
2015-01-07  8102.100098 -0.003107
2015-01-08  8234.599609  0.016354
2015-01-09  8284.500000  0.006060

In [52]:
# save 

data.to_csv("../data/nifty_underlying.csv")

'1.16.2'