In [5]:
import sys, os
sys.path.append(os.path.abspath(".."))

import pandas as pd
from risk.volatility_regime import compute_realized_vol, classify_regime

df = pd.read_csv("../data/nifty_underlying.csv", index_col=0, parse_dates=True)

df = compute_realized_vol(df)
df = classify_regime(df)

df.tail()

                   Close   returns  realized_vol  vol_regime
Date
2024-12-23  23753.449219  0.007035      0.132522  Medium Vol
2024-12-24  23727.650391 -0.001086      0.123184  Medium Vol
2024-12-26  23750.199219  0.000950      0.123356  Medium Vol
2024-12-27  23813.400391  0.002661      0.123095  Medium Vol
2024-12-30  23644.900391 -0.007076      0.114620  Medium Vol

In [9]:
df["vol_regime"].value_counts()

vol_regime
High Vol      829
Medium Vol    824
Low Vol       804
Name: count, dtype: int64

In [2]:
import statsmodels.api as sm
sm.__version__

'0.14.6'